<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="C:\Users\RaiderQT\IdeaProjects\WebSite\src\main\resources\templates\css\foodMain.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/headerAdmin :: headerAdmin"></header>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>НАЗВАНИЕ</h1>

            <p class="lead text-muted">Доставка тортов по Соликамску</p>
            <p>
                <!--              <a href="#" class="btn btn-primary my-2">Main call to action</a>
                              <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <div th:each="element : ${goods}">
                    <div style="width: 360px; margin-right 4px" class="col-md-13 mr-3">
                        <div  class="card mb-4 shadow-sm">
                            <img th:attr="src=@{${element.imageBase64}}" class="card-img-top">
                            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                            <div class="card-body">
                                <p th:text="${element.name}" class="card-text"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
<!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Удалить</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>-->
                                        <a th:href="'/food/' + ${element.id} + '/edit'" class="btn btn-outline-secondary">Редактировать</a>
                                            <form th:action="'/food/' + ${element.id} + '/remove'" method="post">
                                            <button class="btn btn-outline-secondary" type="submit">Удалить</button>
                                            </form>
                                        <!--<a th:href="'/food/' + ${element.id} + '/edit'" class="btn btn-outline-secondary">Удалить</a>-->
                                        <!--<a th:href="'/food/' + ${element.id}">Детальнее</a>-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
