<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/headerAdmin :: headerAdmin"></header>

<div class="container mt-5 mb-5">
    <h1>Редактировать</h1>
    <div th:each="el : ${food}">
        <form  method="post" th:action="'/food/' + ${el.id} + '/edit'">
            <!--<input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс" class="form-control"><br>-->
           <textarea name="anons" placeholder="Состав еды" class="form-control" th:text="${el.anons}"/><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>





<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/headerAdmin :: headerAdmin"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование статьи</h1>
    <div th:each="el : ${food}">
        <form method="post">
&lt;!&ndash;            <input type="text" th:value="${el.title}" name="title" placeholder="Введите название товара" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс" class="form-control"><br>
            <textarea name="fulltext" placeholder="Состав еды" class="form-control" th:text="${el.fulltext}"/><br>&ndash;&gt;
            <button type="submit" class="btn btn-success">Изменить</button>
        </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>-->
