<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Еда</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>



    </style>
</head>

<body class="text-center">
        <form  th:action="@{/login}" class="form-signin" method="post">




            <h1 class="h3 mb-3 font-weight-normal">Администратор</h1>

            <div><label>  <input type="text" name="username" placeholder="Login"/> </label></div>
            <div><label>  <input type="password" name="password" placeholder="Password"/> </label></div>



                <button type="submit">Войти</button></a><br>







        </form>


</body>

</html>
