<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uplaod Status</title>
</head>
<!--<body>
<div th:if="${msg}">
    <span th:text="${msg}"></span>
</div>

<div th:if="${msg}">
    <span th:text="${msg}"></span>
    <img th:src="${imagePath}">
</div>-->
<div th:if="${imagePath}" >
    <img th:attr="src=@{${imageDB}}" class="card-img-top" >
    <!--<img th:src="@{'data:image/jpg;base64,'+${sb.encodedString}}" />-->
    <!--<img th:attr="src=@{'data:image/jpg;base64,'+${el1.imageDB}}" class="card-img-top" >-->
</div>

</body>
</html>